# Part One: Process ACY for Congruence

This notebook takes our input dataset, Aida-Conll-Yago, and processes it into a form that is necessary for congruence. Notably, this includes a sentence ID for each full_mention that allows us to understand what full_mentions occur in the same context.

### Import Packages

In [1]:
import os
import time
import csv

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Add directory above current directory to path so we can import our pre-built package
import sys; sys.path.insert(0, '../..')
from entity_disambiguation.preprocessing import process_input, normalize_text

from nltk.corpus import stopwords

from tqdm import tqdm

In [2]:
# Import stopwords
# todo how are these used?
try:
    stop = stopwords.words('english')
except LookupError:
    # Download stopwords if it's your first time
    import nltk
    nltk.download('stopwords')

## Load Aida-Conll-Yago

In [3]:
# Relative path to ACY dataset
acy_path = "../../data/aida-conll-yago-dataset/"

# process_input() takes path location where you've stored AIDA-YAGO2-DATASET.tsv file
# Transforms tsv file into train, test split
# x are words, y are indices
# todo for now I'm putting the processing code into this notebook instead of using the Python package
# todo doing this for code clarity
pass

In [4]:
# Open raw TSV datafile
acy_file = open(os.path.join(acy_path, "AIDA-YAGO2-DATASET.tsv"))
acy_tsv = csv.reader(acy_file, delimiter="\t")

# Loop through TSV to add to PD.DF
df = []
for row in acy_tsv:
    df.append(row)
acy_df = pd.DataFrame(data=df[1:])
new_columns = ["token", "mention", "full_mention", "YAGO2", "wikipedia_URL", "wikipedia_ID", "freebase"]
acy_df = acy_df.rename(columns=dict(zip(range(7), new_columns)))
acy_df.head(10)

,token,mention,full_mention,YAGO2,wikipedia_URL,wikipedia_ID,freebase
0,EU,B,EU,--NME--,None,None,None
1,rejects,None,None,None,None,None,None
2,German,B,German,Germany,http://en.wikipedia.org/wiki/Germany,11867,/m/0345h

#### Add Sentence ID

In order to determine which full_mentions occur in the same sentence, we add a Sentence_ID that increases by one whenever it comes across a period and a space.


#### Add Doc ID
It appears sample articles are split by a `-DOCSTART-` so we've also added a `doc_id` based on that.

In [65]:
# Confirm length of iteration
print("Tokens in ACY: {:,}".format(len(acy_df)))

Tokens in ACY: 176,615

In [39]:
# Start with sentence_id of 0
sentence_id = 0
doc_id = 0
prior_token = 0

# Prepare list to append
sentence_list = []
doc_list = []

# Iterate through every token to find same sentences
for row in tqdm(range(len(acy_df))):
    
    # Find token and add sentence ID to list
    token = acy_df.iloc[row]['token']
    sentence_list.append(sentence_id)
    
    # If we've reached our sentence stopping condition, increment sentence_id
    if prior_token == "." and token == None:
        sentence_id += 1
    try:
        if "-DOCSTART-" in token:
            doc_id += 1
    except TypeError: # Can't use 'in' when NoneType present
        pass
    doc_list.append(doc_id)
        
    # Update token to prior token
    prior_token = token
        
# Add list to DataFrame as column
acy_df['sentence_id'] = sentence_list
acy_df['doc_id'] = doc_list

100%|██████████| 176615/176615 [00:23<00:00, 7652.86it/s]

In [40]:
# Print out example showing increment sentence and doc
acy_df[620:645]

,token,mention,full_mention,YAGO2,wikipedia_URL,wikipedia_ID,freebase,sentence_id,doc_id
620,(,None,None,None,None,None,None,22,1
621,$,None,None,None,None,None,None,22,1
622,"7,845",None,None,None,None,None,None,22,1
623,),None,None,None,None,None,None,22,1
624,.,None,None,None,None,None,None,22,1
625,None,None,None,None,None,None,None,22,1
626,The,None,None,None,None,None,None,23,1
627,guitarist,None,None,None,None,None,None,23,1
628,died,None,None,None,None,None,None,23,1
629,of,None,None,None,None,None,None,23,1
630,a,None,None,None,None,None,None,23,1
631,drugs,None,None,None,None,None,None,23,1
632,overdose,None,None,None,None,None,None,23,1
633,in,None,None,None,None,None,None,23,1
634,1970,None,None,None,None,None,None,23,1
635,aged,None,None,None,None,None,None,23,1
636,27,None,None,None,None,None,None,23,1
637,.,None,None,None,None,None,None,23,1
638,None,None,None,None,None,None,None,23,1
639,-DOCSTART- (3 China),None,None,None,None,None,None,24,2
640,China,B,China,People\u0027s_Republic_of_China,http://en.wikipedia.org/wiki/People's_Republic...,5405,/m/0d05w3,24,2
641,says,None,None,None,None,None,None,24,2
642,Taiwan,B,Taiwan,Republic_of_China,http://en.wikipedia.org/wiki/Republic_of_China,25734,/m/06f32,24,2
643,spoils,None,None,None,None,None,None,24,2
644,atmosphere,None,None,None,None,None,None,24,2

In [41]:
# Create mini copy of dataset
mini_acy_df = acy_df[620:645].copy()

In [42]:
# Test function on mini version
mini_acy_df.groupby('sentence_id')['full_mention'].agg(['unique'])

                            unique
sentence_id
22                          [None]
23                          [None]
24           [None, China, Taiwan]

In [43]:
%%time
# Run over full dataset
same_sentence_entities = acy_df.groupby('sentence_id')['full_mention'].agg(['unique'])
same_sentence_entities[:5]

CPU times: user 341 ms, sys: 29.8 ms, total: 371 ms
Wall time: 414 ms

                                                        unique
sentence_id
0                                  [EU, None, German, British]
1            [Peter Blackburn, None, BRUSSELS, European Com...
2            [Germany, None, European Union, Werner Zwingma...
3                     [None, Commission, Nikolaus van der Pas]
4                                       [None, European Union]

## Create ACY Dataset where row = full_mention

Now we create a version of the dataset where each row represents a unique instance of a full_mention value - basically all rows where full_mention != None.

In [104]:
# Drop all tokens that aren't full mentions
acy_input = acy_df[acy_df['full_mention'].notnull()].reset_index(drop=True)
acy_input.head(5)

,token,mention,full_mention,YAGO2,wikipedia_URL,wikipedia_ID,freebase,sentence_id,doc_id
0,EU,B,EU,--NME--,None,None,None,0,0
1,German,B,German,Germany,http://en.wikipedia.org/wiki/Germany,11867,/m/0345h,0,0
2,British,B,British,United_Kingdom,http://en.wikipedia.org/wiki/United_Kingdom,31717,/m/07ssc,0,0
3,Peter,B,Peter Blackburn,--NME--,None,None,None,1,0
4,Blackburn,I,Peter Blackburn,--NME--,None,None,None,1,0

## Process URL into Wikipedia Title

We ultimately use this to match string guesses in certain later implementations.

In [105]:
# Define wikipedia_title variable in format with spaces, not underlines
# Values seen as None have type float so checking for that
def replace_lines(text):
    return str(text).replace("_", " ")

# Define wikipedia_title for all values
wikipedia_title = [replace_lines(i.split("/")[-1]) if i is not None else None for i in acy_input['wikipedia_URL']]
display(wikipedia_title[:5])
acy_input['wikipedia_title'] = wikipedia_title
acy_input.head(3)

[None, 'Germany', 'United Kingdom', None, None]

,token,mention,full_mention,YAGO2,wikipedia_URL,wikipedia_ID,freebase,sentence_id,doc_id,wikipedia_title
0,EU,B,EU,--NME--,None,None,None,0,0,None
1,German,B,German,Germany,http://en.wikipedia.org/wiki/Germany,11867,/m/0345h,0,0,Germany
2,British,B,British,United_Kingdom,http://en.wikipedia.org/wiki/United_Kingdom,31717,/m/07ssc,0,0,United Kingdom

## Add Congruent Mentions to Dataframe

In [106]:
# Add congruent mentions to dataframe
congruent_mentions_list = []
for mention in tqdm(range(len(acy_input))):
    sentence_id = acy_input.iloc[mention]['sentence_id']
    congruent_mentions = list(filter(None, same_sentence_entities.iloc[sentence_id][0]))
    congruent_mentions_list.append(congruent_mentions)

acy_input['congruent_mentions'] = congruent_mentions_list

100%|██████████| 29312/29312 [00:05<00:00, 5012.97it/s]

# Final Input Dataset Form

In [107]:
# Drop a few columns we aren't explicitly using
acy_input = acy_input.drop(columns=[
    'token',
    'YAGO2',
    'freebase'
])

In [108]:
# Re-order columns for clarity
column_headers = acy_input.columns.tolist()
print(column_headers)
reordered_columns = column_headers[:4] + [column_headers[-2]] + column_headers[4:6] + [column_headers[-1]]
print(reordered_columns)
assert len(column_headers) == len(reordered_columns)
acy_output = acy_input[reordered_columns]
display(acy_output.head(3))

['mention', 'full_mention', 'wikipedia_URL', 'wikipedia_ID', 'sentence_id', 'doc_id', 'wikipedia_title', 'congruent_mentions']
['mention', 'full_mention', 'wikipedia_URL', 'wikipedia_ID', 'wikipedia_title', 'sentence_id', 'doc_id', 'congruent_mentions']

,mention,full_mention,wikipedia_URL,wikipedia_ID,wikipedia_title,sentence_id,doc_id,congruent_mentions
0,B,EU,None,None,None,0,0,"[EU, German, British]"
1,B,German,http://en.wikipedia.org/wiki/Germany,11867,Germany,0,0,"[EU, German, British]"
2,B,British,http://en.wikipedia.org/wiki/United_Kingdom,31717,United Kingdom,0,0,"[EU, German, British]"

In [109]:
# There are a number of full_mentions without a response variable ('wikipedia_URL') that we can check accuracy against.
# We keep these as congruent mentions for improved context later in the pipeline,
# but we must remember to exclude these when calculating accuracy later as well.

# Size of blank wikipedia_URL problem
print("Percent with No Wikipedia URL: ",\
      round(sum(acy_input['wikipedia_URL'].isnull())/len(acy_output)*100,3), "%")

# Not dropping null responses now but line available if desired
# acy_input = acy_input[acy_input['wikipedia_URL'].notnull()]

Percent with No Wikipedia URL:  24.069 %

In [110]:
print("Length of Final Input Dataset: {:,}".format(len(acy_output)))
acy_output.head(5)

Length of Final Input Dataset: 29,312

,mention,full_mention,wikipedia_URL,wikipedia_ID,wikipedia_title,sentence_id,doc_id,congruent_mentions
0,B,EU,None,None,None,0,0,"[EU, German, British]"
1,B,German,http://en.wikipedia.org/wiki/Germany,11867,Germany,0,0,"[EU, German, British]"
2,B,British,http://en.wikipedia.org/wiki/United_Kingdom,31717,United Kingdom,0,0,"[EU, German, British]"
3,B,Peter Blackburn,None,None,None,1,0,"[Peter Blackburn, BRUSSELS, European Commissio..."
4,I,Peter Blackburn,None,None,None,1,0,"[Peter Blackburn, BRUSSELS, European Commissio..."

### Save Processed Input

In [111]:
acy_output.to_csv(os.path.join(acy_path, "Aida-Conll-Yago-Input.csv"), index=False)